<h1 style="text-align: center;">Draw, Edit or Delete Polygon on Map</h1>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-xs-10 form-group" style="padding: 0px 4px 0px 0px; height: 100%;">
    <div id="map" style='width: 100%; height: 540px;'></div>
  </div>
  <div class="col-xs-2 form-group" style="padding: 0px;">
    <button id="draw_btn" class="btn btn-info" style="float: right;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Create Polygon" onclick='save_polygons()'><i id="draw_icon" class="fa fa-pencil"></i></button>

    <button id="save_btn" class="btn btn-success" style="float: right; display: none;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Polygon" onclick='update_polygons()'><i class="fa fa-save (alias)"></i></button>

    <button id="cancel_btn" class="btn btn-warning" style="float: right; display: none;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel" onclick='cancel_update()'><i class="fa fa-times"></i></button>
    <%= render "index" %>
  </div>
</div>

<div id="polygon_name" class="modal fade" role="dialog">
  <div class="modal-dialog" style="padding-top: 120px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header colors">
        <button type="button" class="close colors" data-dismiss="modal" method="reset">X</button>
        <h4 class="modal-title">Polygon</h4>
      </div>
      <div class="modal-body">
        <%= text_field_tag 'name', '', autofocus: true, required: true, placeholder: "Name...", id: "name_field", class: "form-control"%>
        <br>
        <button type="button" class="btn btn-info" style="float; right;" data-dismiss="modal" onclick='send_polygons()'>Done</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var infoWindow = new google.maps.InfoWindow;
handler = Gmaps.build('Google');
$(function() {
  make_map(null);
});
function make_map(id){
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      <% if @hash.present? %>
        <% @hash.each.with_index do |gon, index|%>
          if (<%= index %> == id)
          {
            edit_polygon = handler.addPolygon(<%=raw gon.to_json %>,{
             strokeColor: '#FF0000',
             editable: true,
             //fillColor: '#FF0000'
            });
          }
          else
          {
            poly = handler.addPolygon(<%=raw gon.to_json %>,{
               strokeColor: '#FFBF00',
               editable: false,
               //fillColor: '#FF0000'
            });
            google.maps.event.addListener(poly.getServiceObject(), "click", function(event) {
              infoWindow.setContent((<%= raw @map[index].name.to_json %>).toString());
              infoWindow.setPosition(event.latLng);
              infoWindow.open(handler.getMap());
            });
          }
        <% end %>
      <% end %>
      polygon_marker();
   });
}
</script>
